<h1>Add Event</h1>

<form method="post">
    <label for="name">Name of Event</label>
    <input name="name" type="text" />
    <label for="description">Description of Event</label>
    <textarea id="descripForEvent" name="description" rows="5" cols="45"></textarea>
    <input type="submit" value="Add Event" />
</form>
