
<h1>Edit Event</h1>


<form method="post" action="/Events/Edit">

    <label for="name">Name of Event</label>
    <input name="name" type="text" value="@ViewBag.eventinfo.Name" />
    <label for="description">Description of Event</label>
    <input name="description" type="text" value="@ViewBag.eventinfo.Description" />
    <input type="submit" value="Edit Event" />

    <input type="hidden" value="@ViewBag.eventinfo.Id" name="eventId" />

</form>