<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if(ViewBag.events.Count == 0)
{
    <p>No Events Yet!</p>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (Event meeting in ViewBag.events)
            {
                <tr>
                    <td>@meeting.Name</td>
                    
                </tr>
            }
        
    </tbody>
</table>